* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: black;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
::-webkit-scrollbar {
  width: 6px;
  height: auto;
}
::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 5px;
}
.main {
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .main {
    padding: 0px;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
