* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: black;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
.main {
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px;
}
